<a href="https://dindikbud.bantenprov.go.id/" target="_blank">
  <img src="images/dindikbud.jpg">
</a>
<a href="https://laravel.com/" target="_blank">
  <img src="/images/laravel.png">
</a>
<a href="https://chaitin.cn" target="_blank" style="top:-1px">
  <img src="/images/dindikbud.jpg">
</a>
<a href="https://htmlburger.com" target="_blank">
  <img src="/images/htmlburger.png">
</a>